#booking {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#booking h1 {
  font-size: 2.3rem;
  font-weight: 600;
  margin-bottom: 15px;
}

#booking form {
  display: grid;
  max-width: 80vw;
  width: 50vw;
  gap: 15px;
  padding: 30px;
  background: rgb(236, 236, 236);
  font-size: 1rem;
  border-radius: 20px;
  box-shadow: 0 0 10px 3px rgb(221, 221, 221);
}

#booking form > input,
#booking form > select {
  font-size: 1.1rem;
  padding: 5px;
  border-radius: 8px;
  border: none;
  outline: none;
}

#booking form > input:not(#booking form > input[type="submit"]):active,
#booking form > select:active {
  border: none;
  outline: 2px solid goldenrod;
}

#booking form > input[type="submit"] {
  color: black;
  background-color: #f4ce14;
  padding: 10px 20px;
  font-size: 1.1rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
