#testimonials {
  background-color: #495e57;
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
  align-items: center;
}

#testimonials h1 {
  color: white;
  font-size: 3rem;
}

.reviews {
  margin-top: 20px;
}
