@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  height: 100vh;
}

button {
  color: black;
  background-color: #f4ce14;
  padding: 10px 20px;
  font-size: 1.1rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.active {
  padding: 10px 15px;
  background-color: rgb(244, 206, 20);
  border-radius: 25px;
  cursor: pointer;
  margin: 0px 5px;
  font-size: 1.1rem;
}
